<div id="{{id}}">
    <input type="checkbox" id="{{id}}-cb" value="{{done}}" {{#if done}}checked="checked" {{/if}}>
    <label for="{{id}}-cb">Finshed</label>
    <textarea id="{{id}}-description" type="text">{{description}}</textarea>
    <button id="{{id}}-save">save</button>
</div>