<article id="{{_id}}" class="short-note">
    <header>
        <span class="timeLeft">{{fromNow}}</span>
        <h2>{{title}}</h2>
        <div class="importance">{{> importance importance }}</div>
    </header>

    <input id="{{_id}}-cb" type="checkbox" value="{{done}}" {{#if done}}checked="checked" {{/if}} disabled>
    <label for="{{_id}}-cb">Finished</label>
    <textarea disabled>{{description}}</textarea>
    <form action='/note/edit/{{_id}}' method='get'>
        <input class="btn-edit" type="submit" value="edit">
    </form>
</article>