<div id="{{_id}}" class="short-note">
    <input type="checkbox" id="{{_id}}-cb" value="{{done}}" {{#if done}}checked="checked" {{/if}} disabled>
    <label for="{{_id}}-cb">Finshed</label>
    <textarea id="{{_id}}-description" type="text" disabled>{{description}}</textarea>
    <form action='/note/edit/{{_id}}' method='get'>
        <input type="submit" value="edit">
    </form>
</div>