<article id="{{_id}}" class="short-note">
    <header>
        <span class="timeLeft">{{fromNow}}</span>
        <div class="importance">{{> importance importance }}</div>
        <span class="title">{{title}}</span>
    </header>

    <label>
        <input id="{{_id}}-cb" type="checkbox" value="{{done}}" {{#if done}}checked="checked" {{/if}} disabled>
        Finished
    </label>
    <textarea disabled>{{description}}</textarea>
    <form action='/note/edit/{{_id}}' method='get'>
        <input class="btn-edit" type="submit" value="Edit">
    </form>
</article>